*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   font-size: 10px;
}

body {
   line-height: 1;
   font-family: 'Manrope', sans-serif;
   color: #000;
}

[class*="__container"] {
   max-width: 760px;
   margin: 0 auto;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.header__container {
   font-style: normal;
   font-weight: 400;
   font-size: 4rem;
   line-height: 48px;
   text-align: center;
   padding: 20px 120px 10px 120px;
   box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.25);
   margin-bottom: 30px;
}

.main__container {
   padding: 16px 50px;
   background: #1E2939;
   border: 4px solid #000000;
}

.main-panel {
   width: 650px;
   height: 60px;
   background: #D9D9D9;
   border: 1px solid #000000;
   margin-top: 14px;
   margin-bottom: 40px;
   position: relative;
}

.main-panel__item {
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background: #8F8F8F;
   border: 1px solid #000000;
   position: absolute;
}

.main-panel__item:nth-child(1) {
   top: 3px;
   left: 3px;
}

.main-panel__item:nth-child(2) {
   bottom: 3px;
   left: 3px;
}

.main-panel__item:nth-child(3) {
   top: 3px;
   right: 3px;
}

.main-panel__item:nth-child(4) {
   bottom: 3px;
   right: 3px;
}

.main-panel__text {
   font-style: normal;
   font-weight: 400;
   font-size: 4rem;
   line-height: 48px;
   text-align: center;
}

.main__items {
   font-style: normal;
   font-weight: 400;
   font-size: 2.4rem;
   line-height: 29px;
   color: #FFFFFF;
}

.main-item {
   margin-bottom: 12px;
}

.main-item input {
   background: #D9D9D9;
   border: 1px solid #000000;
   border-radius: 5px;
   width: 654px;
   height: 42px;
   font-size: 2.4rem;
}

.main-item input:focus {
   outline: 0;
   box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.342);
}

::placeholder {
   font-style: normal;
   font-weight: 400;
   font-size: 2.4rem;
   line-height: 29px;
}

.main-item__text {
   padding-bottom: 2px;
}

.main__button {
   display: block;
   padding: 15px 25px;
   font-size: 2.4rem;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #133b69;
   border: none;
   border-radius: 15px;
   box-shadow: 0 9px #999;
   margin: 0 auto;
   margin-bottom: 5px;
}

.main__button:hover {
   background-color: #0f2f53
}

.main__button:active {
   background-color: #0f2f53;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
}